<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contactFormula ANY>
<!ATTLIST contactFormula id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT news ANY>
<!ATTLIST news id ID #REQUIRED>
<!ELEMENT newsOverview ANY>
<!ATTLIST newsOverview id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1055" key="b64f600f-be72-4bd9-8846-463ff7b62a81" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-08-08T19:33:28" updateDate="2018-08-08T20:03:54" nodeName="Home Page" urlName="home-page" path="-1,1055" isDoc="" nodeType="1054" creatorName="bikokwa khaemba" writerName="bikokwa khaemba" writerID="0" template="1053" nodeTypeAlias="home" isPublished="true">
    <pageTitle><![CDATA[Home]]></pageTitle>
    <siteName><![CDATA[Working Umbraco]]></siteName>
    <pageImage><![CDATA[/media/1001/win_20180620_17_17_49_pro.jpg]]></pageImage>
    <bodyText><![CDATA[<p>Some text in the body.</p>]]></bodyText>
    <home id="1056" key="a38d0d6a-d56f-47d5-96ad-9a5650adbbf3" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2018-08-08T23:22:31" updateDate="2018-08-08T23:22:31" nodeName="Second Home Page" urlName="second-home-page" path="-1,1055,1056" isDoc="" nodeType="1054" creatorName="bikokwa khaemba" writerName="bikokwa khaemba" writerID="0" template="1053" nodeTypeAlias="home" isPublished="true">
      <pageTitle><![CDATA[Second Home Page]]></pageTitle>
      <siteName><![CDATA[Working Umbraco]]></siteName>
      <pageImage><![CDATA[/media/1002/win_20180620_17_17_40_pro.jpg]]></pageImage>
      <bodyText><![CDATA[<p>Second home page.</p>]]></bodyText>
    </home>
    <home id="1057" key="5a512785-af2b-4d78-8d4f-6be149c65c6a" parentID="1055" level="2" creatorID="0" sortOrder="1" createDate="2018-08-08T23:26:40" updateDate="2018-08-08T23:26:40" nodeName="Third Home Page" urlName="third-home-page" path="-1,1055,1057" isDoc="" nodeType="1054" creatorName="bikokwa khaemba" writerName="bikokwa khaemba" writerID="0" template="1053" nodeTypeAlias="home" isPublished="true">
      <pageTitle><![CDATA[Third Home Page]]></pageTitle>
      <siteName><![CDATA[Working Umbraco]]></siteName>
      <pageImage><![CDATA[/media/1003/win_20180620_17_17_07_pro.jpg]]></pageImage>
      <bodyText><![CDATA[<p>Third home page</p>]]></bodyText>
    </home>
    <newsOverview id="1060" key="998609ac-e1dd-4326-87f0-394901599be1" parentID="1055" level="2" creatorID="0" sortOrder="2" createDate="2018-08-09T07:21:38" updateDate="2018-08-09T07:25:37" nodeName="News" urlName="news" path="-1,1055,1060" isDoc="" nodeType="1059" creatorName="bikokwa khaemba" writerName="bikokwa khaemba" writerID="0" template="1058" nodeTypeAlias="newsOverview" isPublished="true">
      <pageTitle><![CDATA[News]]></pageTitle>
      <newsOverviewBodyText><![CDATA[<p>This is the container of news summaries.</p>]]></newsOverviewBodyText>
      <news id="1063" key="a3f35171-ff77-4ace-b9cc-0bcb6bb7f39e" parentID="1060" level="3" creatorID="0" sortOrder="0" createDate="2018-08-09T14:35:41" updateDate="2018-08-09T15:00:29" nodeName="News Section" urlName="news-section" path="-1,1055,1060,1063" isDoc="" nodeType="1062" creatorName="bikokwa khaemba" writerName="bikokwa khaemba" writerID="0" template="1061" nodeTypeAlias="news" isPublished="true">
        <pageTitle><![CDATA[News Section]]></pageTitle>
        <newsText><![CDATA[<p>Here is the latest thrilling news....</p>
<p><img style="width: 0px; height:0px;" src="/nothing.jpg" alt="" data-udi="umb://media/b0e9353fab3c4628bca3a2e54dd70330" /><img style="width: 500px; height:281.25px;" src="/media/1004/win_20180704_14_37_52_pro.jpg?width=500&amp;height=281.25" alt="Nise" data-udi="umb://media/b0e9353fab3c4628bca3a2e54dd70330" /></p>]]></newsText>
      </news>
      <news id="1066" key="91056c8f-bd36-40aa-b5b6-9c25bcec8722" parentID="1060" level="3" creatorID="0" sortOrder="1" createDate="2018-08-09T15:02:33" updateDate="2018-08-09T15:03:38" nodeName="Another Bulletin" urlName="another-bulletin" path="-1,1055,1060,1066" isDoc="" nodeType="1062" creatorName="bikokwa khaemba" writerName="bikokwa khaemba" writerID="0" template="1061" nodeTypeAlias="news" isPublished="true">
        <pageTitle><![CDATA[Another Bulletin]]></pageTitle>
        <newsText><![CDATA[<p><img style="width: 500px; height:281.25px;" src="/media/1004/win_20180704_14_37_52_pro.jpg?width=500&amp;height=281.25" alt="Vaya" data-udi="umb://media/b0e9353fab3c4628bca3a2e54dd70330" /></p>
<p>A bulletin streaming in ....<img style="width: 0px; height: 0px;" src="/nothing.jpg" alt="" data-udi="umb://media/e8ae290388a64b2da9eb7d472e16d2ff" /></p>]]></newsText>
      </news>
    </newsOverview>
    <contactPage id="1072" key="15fea2fc-0e43-4772-bfeb-efb4e42fc06d" parentID="1055" level="2" creatorID="0" sortOrder="3" createDate="2018-08-09T22:03:02" updateDate="2018-08-09T22:03:02" nodeName="Contact Us" urlName="contact-us" path="-1,1055,1072" isDoc="" nodeType="1068" creatorName="bikokwa khaemba" writerName="bikokwa khaemba" writerID="0" template="1067" nodeTypeAlias="contactPage" isPublished="true">
      <pageTitle><![CDATA[Contact Us - For an offer]]></pageTitle>
      <contactFormula id="1074" key="042ba871-df9c-4847-bbd7-263db6488040" parentID="1072" level="3" creatorID="0" sortOrder="0" createDate="2018-08-11T08:30:58" updateDate="2018-08-11T08:30:58" nodeName="bikokwa - 8/11/2018 8:30:58 AM" urlName="bikokwa-8112018-83058-am" path="-1,1055,1072,1074" isDoc="" nodeType="1070" creatorName="bikokwa khaemba" writerName="bikokwa khaemba" writerID="0" template="1069" nodeTypeAlias="contactFormula" isPublished="true">
        <contactName><![CDATA[bikokwa]]></contactName>
        <emailFrom><![CDATA[peterbikokwa@gmail.com]]></emailFrom>
        <contactMessage><![CDATA[this is umbraco cms]]></contactMessage>
      </contactFormula>
      <contactFormula id="1075" key="1096c671-2dc1-4533-b7b4-9c2df5797b73" parentID="1072" level="3" creatorID="0" sortOrder="1" createDate="2018-08-11T08:40:29" updateDate="2018-08-11T08:40:29" nodeName="bikokwa - 8/11/2018 8:40:28 AM" urlName="bikokwa-8112018-84028-am" path="-1,1055,1072,1075" isDoc="" nodeType="1070" creatorName="bikokwa khaemba" writerName="bikokwa khaemba" writerID="0" template="1069" nodeTypeAlias="contactFormula" isPublished="true">
        <contactName><![CDATA[bikokwa]]></contactName>
        <emailFrom><![CDATA[peterbikokwa@gmail.com]]></emailFrom>
        <contactMessage><![CDATA[umbraco]]></contactMessage>
      </contactFormula>
    </contactPage>
  </home>
</root>