<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1055" key="b64f600f-be72-4bd9-8846-463ff7b62a81" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-08-08T19:33:28" updateDate="2018-08-08T20:03:54" nodeName="Home Page" urlName="home-page" path="-1,1055" isDoc="" nodeType="1054" creatorName="bikokwa khaemba" writerName="bikokwa khaemba" writerID="0" template="1053" nodeTypeAlias="home" isPublished="true">
    <pageTitle><![CDATA[Home]]></pageTitle>
    <siteName><![CDATA[Working Umbraco]]></siteName>
    <pageImage><![CDATA[/media/1001/win_20180620_17_17_49_pro.jpg]]></pageImage>
    <bodyText><![CDATA[<p>Some text in the body.</p>]]></bodyText>
    <home id="1056" key="a38d0d6a-d56f-47d5-96ad-9a5650adbbf3" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2018-08-08T23:22:31" updateDate="2018-08-08T23:22:31" nodeName="Second Home Page" urlName="second-home-page" path="-1,1055,1056" isDoc="" nodeType="1054" creatorName="bikokwa khaemba" writerName="bikokwa khaemba" writerID="0" template="1053" nodeTypeAlias="home" isPublished="true">
      <pageTitle><![CDATA[Second Home Page]]></pageTitle>
      <siteName><![CDATA[Working Umbraco]]></siteName>
      <pageImage><![CDATA[/media/1002/win_20180620_17_17_40_pro.jpg]]></pageImage>
      <bodyText><![CDATA[<p>Second home page.</p>]]></bodyText>
    </home>
    <home id="1057" key="5a512785-af2b-4d78-8d4f-6be149c65c6a" parentID="1055" level="2" creatorID="0" sortOrder="1" createDate="2018-08-08T23:26:40" updateDate="2018-08-08T23:26:40" nodeName="Third Home Page" urlName="third-home-page" path="-1,1055,1057" isDoc="" nodeType="1054" creatorName="bikokwa khaemba" writerName="bikokwa khaemba" writerID="0" template="1053" nodeTypeAlias="home" isPublished="true">
      <pageTitle><![CDATA[Third Home Page]]></pageTitle>
      <siteName><![CDATA[Working Umbraco]]></siteName>
      <pageImage><![CDATA[/media/1003/win_20180620_17_17_07_pro.jpg]]></pageImage>
      <bodyText><![CDATA[<p>Third home page</p>]]></bodyText>
    </home>
  </home>
</root>