@using WorkingUmbraco.Controllers;
@using WorkingUmbraco.Models;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContactModel>

@using (Html.BeginUmbracoForm<ContactSurfaceController>("HandleFormPost"))
{
    <label for="emailFrom">Email</label>
    @Html.TextBoxFor(x => x.Email, new { @class = "emailFrom", @placeholder = "Email" })<br />
    <label for="nameFrom">Name</label>
    @Html.TextBoxFor(x => x.Name, new { @class = "nameFrom", @placeholder = "Name" })<br />
    <label for="messageFrom">Message</label>
    @Html.TextAreaFor(x => x.Message, new { @class = "messageFrom", @placeholder = "Message" })<br />
    <input type="submit" value="Submit" />
}
