@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="container-fluid">
    <div class="container">
        <form>
            <label for="emailFrom">EMAIL FROM</label><input type="email" id="emailFrom" />
            <br />
            <label for="senderName">NAME</label><input type="email" id="emailFrom" />
            <br />
            <label for="messageFrom">MESSAGE<textarea cols="20" rows="10" id="messageFrom"></textarea>
            <br />
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>