@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Master>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- jQuery cdn -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
       <!-- javascript cdn -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      <!-- complete javascript bundle cdn -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
       <!-- Bootstrap CSS -->
      <link src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
      <link href="~/css/Custom.css" rel="stylesheet" />
    <title>@CurrentPage.pageTitle | @CurrentPage.siteName</title>
  </head>
  <body>
      <div class="container-fluid">
          <div class="container">
              @Html.Partial("Navigation")
          </div>
      </div>
      <div class="container-fluid">
          <div class="container">
              @RenderBody()
          </div>
      </div>
  </body>
</html>