@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.NewsOverview>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="container-fluid">
    <div class="container">
        <h1>@CurrentPage.Name</h1>
        @CurrentPage.newsOverviewBodyText
    </div>
</div>